/* src/styles/FlavorSearch.module.css */

.searchRow {
  display: flex;
  position: sticky;
  top: 0.1rem; /* Adjust to your header height */
  gap: 0.5rem;
  margin-bottom: 0.35rem;
  width: 100%;
  align-items: center;
  padding: 12px 20px;
  z-index: 5;

  background: linear-gradient(
    90deg,
    navy 0%,
    limegreen 30%,
    hotpink 60%,
    purple 100%
  );

  border-radius: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: white;
}

.searchInput,
.filterSelect,
.clearButton {
  flex: 1 1 auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.clearButton {
  background: #e53e3e;
  color: white;
  border: none;
  cursor: pointer;
}

/* Mobile override for exact proportions */
@media (max-width: 768px) {
  .searchRow {
    display: grid;
    grid-template-columns: 50% 25% 20%;
    gap: 0.5rem;
  }
}
